* {
  box-sizing: border-box;
}

body {
    color: #fff;
    padding-top: 50px;
    /*background-color: #373B44;*/
    background-color: #03A9F4;
    font-weight: 500;
    font-family: 'HelveticaNeue';
}

section:nth-child(even) {
    /*background-color: #FE4B74;*/
    /*background-color: #330000;*/
    /*background-color: #E1F5FE;*/
    background-color: #EAF5FE;
    color: black;
}


ul.nav {
    padding-right: 20px;
}

#main-nav {
    opacity: 0.95;
}

#main-nav a {
    color: black;
    font-size: 2rem;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
}

section h1 {
    text-shadow: 2px 2px 2px #000;
}

header {
    height: 80vh;
    display: table;
    width: 100%;
    text-shadow: 2px 2px 2px #000;
}

#main-header h1 {
    border-bottom: solid;
    display:block;
    width: 50%;
    margin: 10px auto;
}

h1 {
    font-size: 5rem;
}

#main-footer {
    padding-top: 5px;
    height: 1vh;
    display: table;
    width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

#about-me .content {

    vertical-align: middle;
}

#about-me, #contact p {
    font-size: 24px;
    margin-bottom: 20px;
}


.crop {
    width: 100%;
    height: 250px;
    margin: 10px auto;
    overflow: hidden;
    display: block;
    background-image: url('http://placehold.it/400x300');
    background-position: center;
}

.crop img {
    width: 100%;
    height: auto;
}

.crop:hover {
    border: solid;
}

#navbar-links a:hover {
    background-color: #eee;
}

a#john:hover {
    background-color: #eee;
}

.contact-logo {
    font-size: 10rem;
    transition: 0.5s;
}

#contact {
    height: 70vh;
}


#contact a {
    color: black;
}

#contact a:hover {

}

.contact-logo:hover {
    font-size: 13rem;
}

.padding {
    padding-top: 10%;
}

@media (min-width: 760px) {
    #main-header h1 {
        border-bottom: solid;
        display:block;
        width: 40%;
        margin: 10px auto;
    }
    h1 {
        font-size: 10rem;
    }

    #about-me, #contact h1 {
        font-size: 7rem;
    }

    #about-me, #contact p {
        font-size: 24px;
        margin-bottom: 20px;
    }
}


@media (min-width: 350px) and (max-width: 760px) {
    #main-header h1 {
        border-bottom: solid;
        display:block;
        width: 60%;
        margin: 10px auto;
    }

    h1 {
        font-size: 6.8rem;
    }
}
